@import "tailwindcss";

:root {
  --background: #f5f1e8;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 48px;
  border-bottom: 1px solid #d8d3c8;
}

header nav {
  display: flex;
  gap: 32px;
}

header a {
  color: inherit;
  text-decoration: none;
}

.hero {
  min-height: 70vh;
  padding: 100px 48px;

  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  align-items: center;
  gap: 48px;
}

.hero-content {
   max-width: 650px;
}

.hero h1 {
  font-family: var(--font-fraunces);
  font-size: 3.5rem;
  line-height: 1.2;
  margin: 16px 0 24px;
  max-width: 700px;
  text-transform: uppercase;
}


.hero-actions {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}

.primary-button,
.secondary-button {
  text-decoration: none;
  padding: 14px 20px;
  border: 1px solid #171717;
}

.primary-button {
  background: #171717;
  color: #f5f1e8;
}

.secondary-button {
  background: transparent;
  color: #171717;
}

.hero-art {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-art img {
  width: min(100%, 430px);
  height: auto;
  display: block;
  transform: translate(20px, 10px);
}

.eyebrow {
  display: inline-block;
  width: fit-content;

  padding: 6px 12px;

  /* background: #171717; */
  background: #493228;
  color: #f5f1e8;

  font-size: 0.78rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.12em;

  transform: rotate(-1deg);
}